table.type09 {
    width: 65%;
    margin: 80px auto;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
}
table.type09 thead th {
    padding: 10px;
    font-weight: bold;
    color: #369;
    border-bottom: 3px solid #036;
}
@media screen and (min-width: 560px) {
    #mobile-date {
        display: none;
    }
}
@media screen and (max-width: 560px) {
    .date-btn{
        background-color: #036;
        text-align: center;
        cursor: pointer;
    }
    .date-search-m{
        color: aliceblue;
    }
    table.type09 thead th{
        text-align: center;
    }
    #pc-date {
        display: none;
    }
}